@model List<ResultBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}



<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Markaları</h4>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Marka Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Markaya Ait Araçlar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.brandName</td>
                                            <td>
                                                <a href="/Admin/Brand/RemoveBrand/@item.brandID" class="btn btn-outline-danger">Sil</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/Brand/UpdateBrand/@item.brandID" class="btn btn-outline-success">Güncelle</a>
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-outline-dark">Markaya Ait Araçlar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/Brand/CreateBrand/" class="btn btn-outline-primary">Yeni Marka Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

