@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Marka Güncelleme</h4>
                        <form method="post">
                            <input type="hidden" asp-for="brandID" />
                            <div class="form-group">
                                <label>Araç Markası</label>
                                <input type="text" class="form-control" required placeholder="Marka" asp-for="brandName">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

