<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="/carbook-master/images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
    </div>
    <div class="desc">
        <h3>Mehmet KOÇAK</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
    </div>
</div>