@model List<ResultFooterAdressDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Adres</h4>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Adres</th>
                                        <th>Telefon</th>
                                        <th>Email</th>
                                        <th>Açıklama</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Address</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                            <td>@item.Description</td>
                                            <td>
                                                <a href="/Admin/FooterAddress/RemoveFooterAddress/@item.FooterAdressID" class="btn btn-outline-danger">Sil</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/FooterAddress/UpdateFooterAddress/@item.FooterAdressID" class="btn btn-outline-success">Güncelle</a>
                                            </td>                                           
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/FooterAddress/CreateFooterAddress/" class="btn btn-outline-primary">Yeni Alt Adres Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>