@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yorumlar</h4>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ad Soyad</th>
                                        <th>Başlık</th>
                                        <th>Yorum</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td>@item.Title</td>
                                            <td>@item.Comment</td>
                                            <td>
                                                <a href="/Admin/Testimonial/RemoveTestimonial/@item.TestimonialID" class="btn btn-outline-danger">Sil</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-outline-success">Güncelle</a>
                                            </td>                                           
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/Testimonial/CreateTestimonial/" class="btn btn-outline-primary">Yeni Yorum Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
