@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hakkımızda Girişi</h4>
                        <form method="post">
                            <div class="form-group">
                                <label>Başlık</label>
                                <input type="text" class="form-control" required placeholder="Başlık" asp-for="Title">
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                <textarea rows="5" class="form-control" required placeholder="Açıklama" asp-for="Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Resim </label>
                                <input type="text" class="form-control" required placeholder="Resim" asp-for="ImageUrl">
                            </div>                          
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

