
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    BookCar Admin
                </span>
            </a>
        </div>
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>
                <li>
                    <a href="/Admin/Dashboard/Index" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/Admin/Statistics/Index" class="waves-effect"><i class="fas fa-chart-pie"></i><span>İstatistikler</span></a>
                </li>
                <li>
                    <a href="/Default/Index" target="_blank" class="waves-effect"><i class="fa fa-home"></i><span>Siteye Git</span></a>
                </li>
                <li>
                    <a href="/Admin/Car/Index" class="waves-effect"><i class="fas fa-car"></i><span>Araba İşlemleri</span></a>
                </li>
                <li>
                    <a href="/Admin/Feature/Index" class="waves-effect"><i class="fas fa-check"></i><span>Araba Özellikleri</span></a>
                </li>
                <li>
                    <a href="/Admin/Brand/Index" class="waves-effect"><i class="fas fa-business-time"></i><span>Markalar</span></a>
                </li>
                <li>
                    <a href="/Admin/Banner/Index" class="waves-effect"><i class="fas fa-broom"></i><span>Banner Alanı</span></a>
                </li>
                <li>
                    <a href="/Admin/About/Index" class="waves-effect"><i class="fas fa-edit"></i><span>Hakkımızda</span></a>
                </li>
                <li>
                    <a href="/Admin/Author/Index" class="waves-effect"><i class="fas fa-users"></i><span>Yazar İşlemleri</span></a>
                </li>
                <li>
                    <a href="/Admin/Category/Index" class="waves-effect"><i class="fas fa-newspaper"></i><span>Blog Kategorileri</span></a>
                </li>
                <li>
                    <a href="/Admin/Blog/Index" class="waves-effect"><i class="fas fa-newspaper"></i><span>Bloglar</span></a>
                </li>
                <li>
                    <a href="/Admin/Pricing/Index" class="waves-effect"><i class="fas fa-money-bill-alt"></i><span>Ödeme Türleri</span></a>
                </li>
                <li>
                    <a href="/Admin/Comment/Index" class="waves-effect"><i class="fas fa-comment"></i><span>Yorumlar</span></a>
                </li>
                <li>
                    <a href="/Admin/Contact/Index" class="waves-effect"><i class="fas fa-phone"></i><span>İletişim</span></a>
                </li>
                <li>
                    <a href="/Admin/FooterAddress/Index" class="waves-effect"><i class="fas fa-map-pin"></i><span>Alt Adres</span></a>
                </li>
                <li>
                    <a href="/Admin/Location/Index" class="waves-effect"><i class="fas fa-map-marker-alt"></i><span>Lokasyonlar</span></a>
                </li>
                <li>
                    <a href="/Admin/Service/Index" class="waves-effect"><i class="fas fa-car"></i><span>Hizmetler</span></a>
                </li>
                <li>
                    <a href="/Admin/SocialMedia/Index" class="waves-effect"><i class="fas fa-tv"></i><span>Sosyal Medya</span></a>
                </li>
                <li>
                    <a href="/Admin/Testimonial/Index" class="waves-effect"><i class="fas fa-people-carry"></i><span>Referanslar</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-tag"></i><span>Etiket Bulutu</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-plug"></i><span>Ayarlar</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-power-off"></i><span>Çıkış Yap</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
