@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
@await Html.PartialAsync("/Views/AdminLayout/AdminHeaderPartial.cshtml")
<body>
    <div id="layout-wrapper">
        @await Html.PartialAsync("/Views/AdminLayout/AdminNavbarPartial.cshtml")
        @await Html.PartialAsync("/Views/AdminLayout/AdminSideBarPartial.cshtml")
        <div class="main-content">
            @RenderBody()
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            @DateTime.Now.Year © BookCar.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by MEHMET KOÇAK
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="menu-overlay"></div>
    <script src="/Admin/vertical/assets/js/jquery.min.js"></script>
    <script src="/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/Admin/vertical/assets/js/metismenu.min.js"></script>
    <script src="/Admin/vertical/assets/js/waves.js"></script>
    <script src="/Admin/vertical/assets/js/simplebar.min.js"></script>
    <script src="/Admin/plugins/datatables/jquery.dataTables.min.js"></script>



    <script src="/Admin/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="/Admin/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/Admin/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="/Admin/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/Admin/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/Admin/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/Admin/plugins/datatables/buttons.flash.min.js"></script>
    <script src="/Admin/plugins/datatables/buttons.print.min.js"></script>
    <script src="/Admin/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="/Admin/plugins/datatables/dataTables.select.min.js"></script>
    <script src="/Admin/plugins/datatables/pdfmake.min.js"></script>
    <script src="/Admin/plugins/datatables/vfs_fonts.js"></script>

    <script src="/Admin/vertical/assets/pages/datatables-demo.js"></script>


    <script src="/Admin/vertical/assets/js/theme.js"></script>
</body>
</html>