@model CreatePricingDto
@{
    ViewData["Title"] = "CreatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ödeme Türü Ekleme</h4>
                        <form method="post">
                            <div class="form-group">
                                <label>Ödeme Türü</label>
                                <input type="text" class="form-control" required placeholder="Ödeme Türü" asp-for="Name">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

