@model UpdatePricingDto
@{
    ViewData["Title"] = "UpdatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ödeme Türü Güncelleme</h4>
                        <form method="post">
                            <input type="hidden" asp-for="PricingID" />
                            <div class="form-group">
                                <label>Ödeme Türü Adı</label>
                                <input type="text" class="form-control" required placeholder="Ödeme Türü Adı" asp-for="Name">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


