@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
<body>
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")   
    @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")
    @RenderBody()
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")
</body>
</html>