@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Özellikleri</h4>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Özellik</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Name</td>
                                            <td>
                                                <a href="/Admin/Feature/RemoveFeature/@item.FeatureID" class="btn btn-outline-danger">Sil</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/Feature/UpdateFeature/@item.FeatureID" class="btn btn-outline-success">Güncelle</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/Feature/CreateFeature/" class="btn btn-outline-primary">Yeni Özellik Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



