@model UpdateBannerDto
@{
    ViewData["Title"] = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Banner Güncelleme</h4>
                        <form method="post">
                            <input type="hidden" asp-for="BannerID" />
                            <div class="form-group">
                                <label>Başlık</label>
                                <input type="text" class="form-control" required placeholder="Başlık" asp-for="Title">
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                <input type="text" class="form-control" required placeholder="Açıklama" asp-for="Description">
                            </div>
                            <div class="form-group">
                                <label>Video Açıklama</label>
                                <input type="text" class="form-control" required placeholder="Video Açıklama" asp-for="VideoDescription">
                            </div>
                            <div class="form-group">
                                <label>Video URL</label>
                                <input type="text" class="form-control" required placeholder="Video URL" asp-for="VideoUrl">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



