
<div class="tag-widget post-tag-container mb-5 mt-5">
    <div class="tagcloud">
        <a href="#" class="tag-cloud-link">Life</a>
        <a href="#" class="tag-cloud-link">Sport</a>
        <a href="#" class="tag-cloud-link">Teknoloji</a>
        <a href="#" class="tag-cloud-link">Travel</a>
    </div>
</div>