@model CreateContactDto
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            @await Component.InvokeAsync("_FooterAdressComponentPartial")
            <div class="col-md-8 block-9 mb-md-5">
                <form method="post" class="bg-light p-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" required placeholder="Adınız Soyadınız" asp-for="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" required placeholder="Email Adresiniz" asp-for="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" required placeholder="Konu" asp-for="Subject">
                    </div>
                    <div class="form-group">
                        <textarea cols="30" rows="7" required asp-for="Message" class="form-control" placeholder="Mesajınız"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Mesaj Gönder" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201549.73743313053!2d32.34167521319803!3d37.878662638192125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d08568d615f745%3A0x240dd0fc08060967!2sKonya!5e0!3m2!1str!2str!4v1704283740315!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
